In [22]:
import pandas as pd
from geopy.geocoders import Nominatim

In [23]:
# File to load 
banklocations_data_to_load = "source_data/banklocations.csv"

In [24]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv(banklocations_data_to_load, encoding='ANSI')
df.head()

,Fund,Bank Name,City,State,Location
0,10540,Signature Bank,New York,NY,"New York, NY"
1,10539,Silicon Valley Bank,Santa Clara,CA,"Santa Clara, CA"
2,10538,Almena State Bank,Almena,KS,"Almena, KS"
3,10537,First City Bank of Florida,Fort Walton Beach,FL,"Fort Walton Beach, FL"
4,10536,The First State Bank,Barboursville,WV,"Barboursville, WV"

In [25]:
# Initialize the Nominatim geocoder
geolocator = Nominatim(user_agent='my-app', timeout=10)

# Create two new columns to store the latitude and longitude values
df['Latitude'] = ''
df['Longitude'] = ''

# Loop through each row in the DataFrame
for i, row in df.iterrows():
    
    # Combine the city and state into a single string
    location = geolocator.geocode(row['Location'])
    if location is not None:
        
        # If the location is found, get the latitude and longitude
        df.at[i, 'Latitude'] = location.latitude
        df.at[i, 'Longitude'] = location.longitude
    
# # Save the updated DataFrame to a new CSV file
# df.to_csv('banks_with_coordinates.csv', index=False)

In [27]:
df.head()

,Fund,Bank Name,City,State,Location,Latitude,Longitude
0,10540,Signature Bank,New York,NY,"New York, NY",40.712728,-74.006015
1,10539,Silicon Valley Bank,Santa Clara,CA,"Santa Clara, CA",37.233325,-121.684635
2,10538,Almena State Bank,Almena,KS,"Almena, KS",39.892229,-99.707058
3,10537,First City Bank of Florida,Fort Walton Beach,FL,"Fort Walton Beach, FL",30.405755,-86.618842
4,10536,The First State Bank,Barboursville,WV,"Barboursville, WV",38.40953,-82.294592

In [28]:
# File to load 
bank_data_to_load = "source_data/bank-data.csv"

In [29]:
# Read the bank data CSV file into a pandas DataFrame
df2 = pd.read_csv(bank_data_to_load, encoding='ANSI')
df2.head()

,CERT,CHCLASS1,CITYST,COST,FAILDATE,FIN,ID,NAME,QBFASSET,QBFDEP,RESTYPE,RESTYPE1,SAVR
0,8966,SM,"OAKWOOD, OH",63600.0,2/1/2002,4652,3537,OAKWOOD DEPOSIT BANK,72267,60168,FAILURE,PI,BIF
1,34979,SM,"SHELBY TOWNSHIP, MI",4440.0,3/28/2002,4655,3540,NEW CENTURY BANK,21091,18902,FAILURE,PO,BIF
2,33784,SM,"ATLANTA, GA",1326.0,9/30/2002,4657,3543,AMTRADE INTERNATIONAL BANK OF GEORGIA,92144,73205,FAILURE,PO,BIF
3,1249,SM,"EPHRAIM, UT",2998.0,6/25/2004,4665,3552,BANK OF EPHRAIM,56774,52329,FAILURE,PI,BIF
4,34301,SM,"JACKSON, GA",86683.0,12/5/2008,10025,3583,FIRST GEORGIA COMMUNITY BANK,256371,215287,FAILURE,PA,DIF

In [30]:
# add qbfasset to bank
df3 = df.join(df2['QBFASSET'])

In [31]:
df3.head()

,Fund,Bank Name,City,State,Location,Latitude,Longitude,QBFASSET
0,10540,Signature Bank,New York,NY,"New York, NY",40.712728,-74.006015,72267
1,10539,Silicon Valley Bank,Santa Clara,CA,"Santa Clara, CA",37.233325,-121.684635,21091
2,10538,Almena State Bank,Almena,KS,"Almena, KS",39.892229,-99.707058,92144
3,10537,First City Bank of Florida,Fort Walton Beach,FL,"Fort Walton Beach, FL",30.405755,-86.618842,56774
4,10536,The First State Bank,Barboursville,WV,"Barboursville, WV",38.40953,-82.294592,256371

In [32]:
# Save the updated DataFrame to a new CSV file
df3.to_csv('source_data/banks_with_coordinates_qbfasset.csv', index=False)