In [31]:
import pandas as pd
import requests
import sqlalchemy as sql

In [26]:
#Create a SQLite database
engine = sql.create_engine('sqlite:///data/banksdb.sqlite')

In [27]:
# Loop through each CSV file and insert into a table in the database
for csv_file in ['source_data\\balance_sheets_for_database.csv', \
                 'source_data\\bank_data.csv', \
                 'source_data\\banklist.csv', \
                 'source_data\\banklist_for_dropdowndemo.csv',\
                 'source_data\\trendchart.csv', 
                 'source_data\\updated_banks_with_coordinates_qbfasset.csv']:
    # Read CSV file into a pandas dataframe
    df = pd.read_csv(csv_file)

    # Extract table name from CSV filename without the source_data\\ prefix
    table_name = csv_file.split('source_data\\')[-1].split('.')[0]

    # Insert the dataframe into the database table
    df.to_sql(table_name, engine, if_exists='replace', index=False)

In [28]:
# Test that data was inputted - get table names
table_names = engine.table_names()
table_names

C:\Users\grace\AppData\Local\Temp\ipykernel_26600\1901508692.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  table_names = engine.table_names()

['balance_sheets_for_database',
 'bank_data',
 'banklist',
 'banklist_for_dropdowndemo',
 'trendchart',
 'updated_banks_with_coordinates_qbfasset']

In [33]:
# Close the database connection
engine.dispose()